---
title: "How you could help"
layout: splash
date: 2018-10-21T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /images/header-2.jpg
  actions:
    - label: "Donate now"
      url: "https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=4R66S4ZK2NCLE&source=url"
#  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "We help thousands of children to get their education. Now we need your help."
feature_row:
  - image_path: /images/volunteer-small.jpg
#   image_caption: "Image courtesy of [Unsplash](https://unsplash.com/)"
    alt: "Volunteer abroad"
    title: "Volunteer abroad"
    excerpt: "3 months internship at our schools."
    url: "volunteer"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /images/library-small.jpg
#    image_caption: "Image courtesy of [Unsplash](https://unsplash.com/)"
    alt: "Donate to our libraries"
    title: "Donate to our libraries"
    excerpt: "For books and ICT infrastructure."
    url: "libraries"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /images/students-small.jpg
#    image_caption: "Image courtesy of [Unsplash](https://unsplash.com/)"
    alt: "Sponsorship"
    title: "Sponsorship"
    excerpt: "Sponsor a child through our annual scholar award."
    url: "sponsorship"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row %}

{% for post in site.posts limit: 3 %}
  {% include archive-single.html %}
{% endfor %}